{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% load timedelta_filter %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: '{% url 'dash' %}',
                    success: function (data) {
                        $('#current').html(data);
                    }
                });
            }, 1000);
        });
    </script>

    <h1>ISUPAC Kaleidoquiz Home</h1>
    <h2>Current Question</h2>
    <p><a href="{% url 'add_question' %}">Add a Question</a></p>
    {% if not cqs %}
        <p>No current question</p>
    {% else %}
        <div id="current">
            {% for q in cqs %}
                <h3><a href="{% url 'detail_question' q.pk %}">{{ q }}</a></h3>
                <p>Time left: {{ q.time_left|timedelta:"{minutes2}:{seconds2}" }}</p>
                <p>{{ q.text }}</p>
                <p>Answers: </p>
                {% for ans in q.answer_set.all %}
                    <p><a href="{% url 'update_answer' ans.pk %}">{{ forloop.counter }}</a>) {{ ans }} - <a
                            href="{% url 'profile' ans.responder.username %}">{{ ans.responder.get_full_name }}</a></p>
                {% endfor %}
                <form action="{% url 'add_answer' q.pk %}">
                    {% csrf_token %}
                    <button type="submit">Answer</button>
                </form>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Previous Questions</h2>
    {% for q in questions %}
        <p><a href="{% url 'detail_question' q.pk %}">{{ q.text }}</a></p>
    {% empty %}
        <p>No questions asked yet.</p>
    {% endfor %}
    <a><a href="{% url 'questions' %}">View all</a></p>


{% endblock %}