{% extends "base.html" %}
{% block title %}KQ{% endblock %}

{% block style %}
    <style>
        .collapse-form {
            opacity: 0;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            width: 0px;
        }

        .collapse-form.expanded {
            border-radius: 0;
            width: 300px;
            opacity: 1;
        }
    </style>
{% endblock %}

{% block content %}
    {% load timedelta_filter %}
    {% load bootstrap4 %}

    <!-- Add Question Modal -->
    <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_question' %}" id="addquestion">
                        {% csrf_token %}
                        {% bootstrap_form add_question_form show_label=False %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="addquestion" class="btn btn-primary">Submit</button>
                </div>


            </div>
        </div>
    </div>


    {% for q in cqs %}
        <div class="card" style="margin-bottom: 20px">
            <div class="card-header question">
                <h3 class="card-title">
                    {{ q }}
                    <small class="text-muted">{{ q.time_left|timedelta:"{minutes}:{seconds2}" }}</small>
                    {% if request.user == q.creator %}
                        <small><a class="badge badge-secondary" href="{% url 'update_question' q.pk %}">Edit</a></small>
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">{{ q.text }}</blockquote>
                {% if q.answer_set.all %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Answers</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ans in q.answer_set.all %}
                            {% if request.user == ans.responder %}
                                <tr class="clickable-row" data-href="{% url 'update_answer' ans.pk %}">
                                    <td>{{ ans.text }}</td>
                                    <td>{{ ans.responder.first_name }}</td>
                                </tr>
                            {% else %}

                                <tr>
                                    <td>{{ ans.text }}</td>
                                    <td>{{ ans.responder.first_name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <hr>
                    <p>No answers yet!</p>
                {% endif %}


                <button class="btn btn-primary float-right" type="button"
                        aria-expanded="false" aria-controls="answer" id="answerbutton">
                    Answer
                </button>

                    <form action="{% url 'add_answer' q.pk %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form add_answer_form show_label=False field_class="collapse-form float-right w-75"%}
                        <input type="submit" style="display: none"/>
                    </form>

            </div>
            <div class="card-footer">

                <button type="button" class="btn float-right" data-toggle="modal" data-target="#addQuestion">
                    Add a Question
                </button>
            </div>
        </div>
    {% empty %}
        <h3 class="display-4">There are no current questions...</h3>
        <button type="button" class="btn btn-lg btn-block" data-toggle="modal" data-target="#addQuestion">
            Add a Question
        </button>
    {% endfor %}

    <div class="card" style="margin-top: 20px">
        <div class="card-header">
            <h3 class="card-title"> Previous Questions</h3>
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                {% for q in questions %}
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'detail_question' q.pk %}">{{ q.text }}</a>
		{% empty %}
			No previous questions!
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <a class="text-muted float-right" href="{% url 'questions' %}">View All</a>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        var allowRefresh = true;

        $('#addQuestion').on('show.bs.modal', function () {
            allowRefresh = false;
        });
        $('#addQuestion').on('hide.bs.modal', function () {
            allowRefresh = true;
            refresh();
        });
        $('#answerbutton').click(function () {
            allowRefresh = !allowRefresh;
            $('.collapse-form').toggleClass('expanded');
            $('#answerbutton').html('<span aria-hidden="true">&times;</span>');
            $('#answerbutton').removeClass('btn-primary');
            refresh();
        });
        $('.navbar-toggler').click(function () {
            allowRefresh = !allowRefresh;
            refresh();
        });
        setTimeout(refresh, 1000);

        function refresh() {
            if (allowRefresh) {
                $('body').load('{% url 'dash' %}')
            }
        }

        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    </script>
{% endblock %}
