{% extends "base.html" %}
{% block title %}Researcher{% endblock %}

{% block content %}

    <h1>Researcher</h1>
    <h2>Current Question</h2>
    {% if not cqs %}
    <p>No current question</p>
    {% else %}
        {% for q in cqs %}
            <h3>{{ q }}</h3>
            <p>Time left: {{ q.time_left }}</p>
            <p>{{ q.text }}</p>
            <p>Answers: </p>
            {% for ans in q.answer_set.all %}
                <p>{{ ans }}</p>
            {% endfor %}
            <form action="{% url 'add_answer' q.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Answer</button>
            </form>
        {% endfor %}
    {% endif %}

{% endblock %}