{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}

{% block content %}

    <h1>{{ object.get_full_name }}</h1>
    <h3>Questions Asked</h3>
    {% for q in object.question_set.all %}
        <p><a href="{% url 'detail_question' q.pk %}">{{ q }}</a></p>
        <p>{{ q.text }}</p>
    {% empty %}
        <p>No questions asked!</p>
    {% endfor %}

    <h3>Answers Given</h3>
    {% for a in object.answer_set.all %}
        <p>{{ a }} - <a href="{% url 'detail_question' a.question.pk %}">{{ a.question }}</a></p>
    {% empty %}
     <p>No answers given!</p>
    {% endfor %}

{% endblock %}