{% extends "base.html" %}
{% block title %}Questions{% endblock %}

{% block content %}

    <h1>Questions</h1>
    <table>
        {% for q in object_list %}
            <tr>
                <td><a href="{% url 'detail_question' q.pk %}">{{ q.pk }}</a></td>
                <td>{{ q.time_posted }}</td>
                <td>{{ q.text }}</td>
                <td>{{ q.dispatcher }}</td>
            </tr>
        {% empty %}
            <p>No questions yet.</p>
        {% endfor %}
    </table>

{% endblock %}