{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}

{% block content %}

    <h1>Question {{ object.pk }}</h1>
    <p>{{ object.text }}</p>
    {% if object.completed %}
        <p>Completed</p>
        <p>Time done: {{ object.time_done }}</p>
    {% else %}
        <p>Time left: {{ object.time_left }}</p>
    {% endif %}
    <p> Answers given: </p>
    {% for answer in object.answer_set.all %}
        <p>{{ answer.text }} - <a href="{% url 'profile' answer.responder.username %}">{{ answer.responder.get_full_name }}</a></p>
    {% empty %}
        <p> No answers given!</p>
    {% endfor %}
    {% if object.creator == request.user %}
        {% if not object.completed %}
            <p><a href="{% url 'update_question' object.pk %}">Edit</a></p>
        {% else %}
            <p>Asked by yourself.</p>
        {% endif %}
    {% else %}
        <p>Asked by <a href="{% url 'profile' object.creator.username %}">{{ object.creator.get_full_name }}</a>.</p>
    {% endif %}

{% endblock %}