{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}

{% block content %}
    {% load timedelta_filter %}

    <h3>
        Question {{ object.pk }}
        {% if not object.completed %}<a class="badge" href="{% url 'update_question' object.pk %}">Edit</a>{% endif %}
    </h3>
    <blockquote class="blockquote">{{ object.text }}</blockquote>
    {% if object.completed %}
        <span class="badge badge-success">Completed</span>
        <p>Time done: {{ object.time_done|date:"l f A" }}</p>
    {% else %}
        <span class="badge badge-primary">Open</span>
        <p>Time left: {{ object.time_left|timedelta:"{minutes}:{seconds2}" }}</p>
    {% endif %}
    {% if object.answer_set.all %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Answer</th>
                <th>Responder</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in object.answer_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ answer.time_posted|date:"D f A" }}</td>
                    <td>{{ answer.text }}</td>
                    <td><a href="{% url 'profile' answer.responder.username %}">{{ answer.responder.get_full_name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <hr>
        <p>No answers given!</p>
        <hr>
    {% endif %}

    {% if object.creator == request.user %}
        <p>Asked by yourself.</p>
    {% else %}
        <p>Asked by <a href="{% url 'profile' object.creator.username %}">{{ object.creator.get_full_name }}</a>.</p>
    {% endif %}

{% endblock %}