{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}

{% block content %}

    <h1>Question {{ object.pk }}</h1>
    <p>{{ object.text }}</p>
    {% if object.completed %}
        <p>Completed</p>
    {% else %}
        <p>Time left: {{ object.time_left }}</p>
    {% endif %}
    <p> Answers: </p>
    {% for answer in object.answer_set.all %}
        <p>{{ answer.text }} - {{ answer.researcher }}</p>
    {% endfor %}
    {% if object.dispatcher == request.user %}

        {% if not object.completed %}
            <p><a href="{% url 'update_question' object.pk %}">Edit</a></p>
            <p><a href="{% url 'remove_question' object.pk %}">Remove</a></p>
        {% endif %}
    {% else %}
        <P>Asked by {{ object.dispatcher.first_name }}</P>
    {% endif %}

{% endblock %}